@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --h-color: #263b5e;
  --body-color: #6a7695;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: var(--body-color);
}

body.bodyOverflow {
  overflow: hidden;
}

.container {
  width: 1110px;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: var(--h-color);
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 991px) {
  header {
    padding: 0;
    position: relative;
    background-color: black;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .container.headerContainer {
  min-height: 69px;
}

@media (max-width: 991px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media (max-width: 991px) {
  header .headerContent {
    width: 100%;
    height: 69px;
  }
}

header .headerContent .logo {
  margin-top: -1px;
  color: #000;
  font-size: 26px;
  font-weight: 900;
  line-height: 60px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  header .headerContent .logo {
    color: #fff;
  }
}

header .headerContent .logo span {
  color: #17b978;
}

header .headerContent .navMenu {
  display: none;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

@media (max-width: 991px) {
  header .headerContent .navMenu {
    display: block;
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -2px 0 0;
}

@media (max-width: 991px) {
  header nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
  }
  header nav.navActive {
    max-height: 100vh;
    -webkit-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    margin: -6px 0 0;
  }
}

header nav a {
  display: inline-block;
  outline: none;
  color: #051441;
  text-decoration: none;
  padding: 10px 20px;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media (max-width: 991px) {
  header nav a {
    color: #fff;
    padding: 9px 0;
  }
  header nav a:first-child {
    padding-top: 6px;
  }
  header nav a:last-child {
    margin-bottom: 29px;
  }
}

header nav a span {
  height: 68px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

header nav a span::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #17b978;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 991px) {
  header nav a span::before {
    position: absolute;
    width: 100%;
  }
}

header nav a:hover span::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header nav a.navItemActive {
  color: #17b978;
}

header nav a.navItemActive span::before {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

header.active {
  position: fixed;
  top: 0;
  min-height: 75px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  padding: 0;
}

@media (max-width: 991px) {
  header.active .headerContainer .headerContent {
    height: 75px;
  }
}

header.active .headerContainer .headerContent .logo {
  font-size: 24px;
  margin-top: 5px;
}

@media (max-width: 991px) {
  header.active .headerContainer .headerContent .logo {
    margin: -2px 0 0 0;
    color: #000 !important;
  }
}

header.active .headerContainer .headerContent .navMenu {
  color: rgba(0, 0, 0, 0.5) !important;
}

header.active .headerContainer nav.headerNav {
  margin: 4px 0px 0;
}

@media (max-width: 991px) {
  header.active .headerContainer nav.headerNav {
    margin: 0;
  }
}

@media (min-width: 992px) {
  header.active .headerContainer nav.headerNav a {
    padding: 10px 20px;
  }
}

@media (max-width: 991px) {
  header.active .headerContainer nav.headerNav a {
    color: #000;
  }
}

@media (max-width: 991px) {
  header.active .headerContainer nav.headerNav a {
    padding: 11px 0;
  }
  header.active .headerContainer nav.headerNav a:first-child {
    padding-top: 0;
  }
  header.active .headerContainer nav.headerNav a:last-child {
    margin-bottom: 30px;
  }
}

main {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

main article {
  width: 100%;
}

main section {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
}

main section .forSection {
  position: absolute;
  top: -112px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

main section #home.forSection {
  top: 0;
}

main section #about.forSection {
  top: -94.5px;
}

@media (max-width: 767px) {
  main section #about.forSection {
    top: -55px;
  }
}

main section #chapter.forSection {
  top: -70px;
}

main section #reviews.forSection {
  top: -70px;
}

.home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.home .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 991px) {
  .home .overlay {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.home .bookBox {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 991px) {
  .home .bookBox {
    width: 100%;
    margin-top: 39px;
    height: calc(100vh - 69px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home .bookBox .container.bookBoxContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .home .bookBox .container.bookBoxContainer {
    max-width: 100%;
    padding-left: 45px;
    margin: 0;
  }
}

@media (max-width: 991px) {
  .home .bookBox .container.bookBoxContainer {
    margin: 0;
    padding: 0 1rem;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook {
  max-width: 40%;
  padding-right: 58px;
  margin-top: 86px;
}

@media (max-width: 1199px) {
  .home .bookBox .container.bookBoxContainer .weekBook {
    padding-right: 75px;
  }
}

@media (max-width: 991px) {
  .home .bookBox .container.bookBoxContainer .weekBook {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 28px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook .bestSeller {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #17b978;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

@media (max-width: 1500px) {
  .home .bookBox .container.bookBoxContainer .weekBook .bestSeller {
    margin-bottom: 1px;
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .home .bookBox .container.bookBoxContainer .weekBook .bestSeller {
    margin-bottom: 2px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .home .bookBox .container.bookBoxContainer .weekBook .bestSeller {
    margin-bottom: 1.5px;
    margin-top: 0.5px;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook h1 {
  display: block;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.3;
  color: #263b5e;
  margin-bottom: 7px;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 767px) {
  .home .bookBox .container.bookBoxContainer .weekBook h1 {
    font-size: 40px;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #6a7695;
  margin-top: 8px;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .home .bookBox .container.bookBoxContainer .weekBook p {
    color: #000;
    margin-top: 1px;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
  margin-top: 17px;
  margin-left: -4px;
}

@media (max-width: 991px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-top: 1px;
    margin-bottom: -1px;
    margin-left: 0;
  }
}

@media (max-width: 816px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: -1px;
  }
}

@media (max-width: 767px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: 0px;
  }
}

@media (max-width: 618px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: -1px;
  }
}

@media (max-width: 554px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: 0px;
  }
}

@media (max-width: 426px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: -1px;
  }
}

@media (max-width: 367px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: 0px;
  }
}

@media (max-width: 364px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow {
    margin-bottom: -1px;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div {
  margin: -5px 0 0;
  padding: 4px;
  display: inline-block;
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div:focus {
  background-color: #0063cc96;
  border-radius: 50px;
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  width: 210.5px;
  height: 52px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  background-color: #18b979;
  border-radius: 50px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 902px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 51px;
  }
}

@media (max-width: 816px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 52px;
  }
}

@media (max-width: 767px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 51px;
  }
}

@media (max-width: 618px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 52px;
  }
}

@media (max-width: 554px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 51px;
  }
}

@media (max-width: 426px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 52px;
  }
}

@media (max-width: 367px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 51px;
  }
}

@media (max-width: 364px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a {
    height: 52px;
  }
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a:active {
  color: black;
}

.home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a span {
  margin-top: 1px;
}

@media (max-width: 426px) {
  .home .bookBox .container.bookBoxContainer .weekBook .homeBuyNow div a span {
    margin-top: 0;
  }
}

.home .bookBox .bookLogo {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -2;
}

.home .bookBox .bookLogo img {
  width: 100%;
  max-height: 100%;
}

@media (max-width: 991px) {
  .home .bookBox .bookLogo img {
    width: auto;
    max-width: 100%;
    max-height: 111.2%;
  }
}

@media (max-width: 991px) {
  .home .bookBox .bookLogo {
    width: 100%;
    margin-top: -9.5px;
  }
}

.logosContainer .logosBox {
  padding-top: 48px;
}

.logosContainer .logosBox .wrapperLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logosContainer .logosBox .wrapperLogo .logoItemBox {
  height: 100%;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logosContainer .logosBox .wrapperLogo .logoItemBox:first-child {
  padding-left: 0;
}

.logosContainer .logosBox .wrapperLogo .logoItemBox:last-child {
  padding-right: 0;
}

.logosContainer .logosBox .wrapperLogo .logoItemBox a {
  padding: 0 20px;
  display: inline-block;
}

.logosContainer .logosBox .wrapperLogo .logoItemBox a img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .logosContainer .logosBox .wrapperLogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox {
    height: 50%;
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 10px;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox:first-child {
    padding-left: 15px;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox:last-child {
    padding-right: 15px;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 70px;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox a img {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  .logosContainer .logosBox .wrapperLogo .logoItemBox {
    padding: 15px 0;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox:first-child {
    padding-left: 0;
  }
  .logosContainer .logosBox .wrapperLogo .logoItemBox:last-child {
    padding-right: 0;
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0;
}

@media (max-width: 767px) {
  .about {
    padding: 112px 0;
  }
}

.about .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .about .aboutContainer {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .about .aboutContainer {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .about .aboutContainer {
    max-width: 100%;
  }
}

.about .aboutContainer .bookBG {
  width: 50%;
  background-image: url(../images/bookBG_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .about .aboutContainer .bookBG {
    display: none;
  }
}

.about .aboutContainer .bookDescription {
  width: 50%;
  padding-left: 3rem;
  color: #263b5e;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 767px) {
  .about .aboutContainer .bookDescription {
    width: 100%;
    padding-left: 0;
  }
}

.about .aboutContainer .bookDescription h2 {
  margin: 0 0 24px;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .about .aboutContainer .bookDescription h2 {
    font-size: 38px;
  }
}

.about .aboutContainer .bookDescription h4 {
  margin-bottom: 8px;
  color: #263b5e;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

.about .aboutContainer .bookDescription p {
  margin: 0 0 16px;
  color: #6a7695;
  font-weight: 400;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

.about .aboutContainer .bookDescription p:last-child {
  margin: 0 0 32px;
}

.numbersSection {
  width: 100%;
}

.numbersSection .numbersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .numbersSection .numbersContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .numbersSection .numbersContainer {
    max-width: 576px;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .numbersSection .numbersContainer {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
}

.numbersSection .numbersContainer .nCounting {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
  padding: 30px 20px;
  background-color: #f5f4fb;
}

@media (min-width: 1200px) {
  .numbersSection .numbersContainer .nCounting:first-child {
    margin-left: 0;
  }
  .numbersSection .numbersContainer .nCounting:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .numbersSection .numbersContainer .nCounting {
    margin: 0 15px 20px;
  }
}

@media (max-width: 575px) {
  .numbersSection .numbersContainer .nCounting {
    margin: 0 0 20px;
    width: 100%;
  }
}

.numbersSection .numbersContainer .nCounting .nWrapper {
  text-align: center;
}

.numbersSection .numbersContainer .nCounting .nWrapper .bigNumbers {
  display: block;
  color: #263b5e;
  font-weight: 700;
  font-size: 34px;
}

.chapter {
  width: 100%;
}

@media (max-width: 1199px) {
  .chapter .container.chapterContainer {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .chapter .container.chapterContainer {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .chapter .container.chapterContainer {
    max-width: 100%;
  }
}

.chapter .container.chapterContainer .pagesTitle {
  margin: 48px 0 0;
  padding: 48px 0 70px;
  color: #263b5e;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

@media (max-width: 767px) {
  .chapter .container.chapterContainer .pagesTitle {
    font-size: 38px;
  }
}

.chapter .container.chapterContainer .pagesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .chapter .container.chapterContainer .pagesContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.chapter .container.chapterContainer .pagesContent .navBox {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  position: relative;
  margin-bottom: 24px;
}

.chapter .container.chapterContainer .pagesContent .navBox nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 180px;
  left: 0;
  margin-bottom: 0px;
}

.chapter .container.chapterContainer .pagesContent .navBox nav a {
  margin-bottom: 15px;
  color: #263b5e;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.8;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.chapter .container.chapterContainer .pagesContent .navBox nav a:last-child {
  margin-bottom: 0;
}

.chapter .container.chapterContainer .pagesContent .navBox nav a.current {
  color: #17b978;
  margin-left: 20px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.chapter .container.chapterContainer .pagesContent .navBox nav a.current::before {
  content: '';
  position: absolute;
  left: -25px;
  top: calc(50% - 1px);
  width: 20px;
  height: 2px;
  background-color: #17b978;
}

.chapter .container.chapterContainer .pagesContent .pagesText {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  padding: 0 0 0 9px;
}

@media (max-width: 767px) {
  .chapter .container.chapterContainer .pagesContent .pagesText {
    padding: 0;
  }
}

.chapter .container.chapterContainer .pagesContent .pagesText .textContent {
  width: 100%;
  padding: 30px;
  margin-bottom: 112px;
  background-color: #f5f4fb;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.chapter .container.chapterContainer .pagesContent .pagesText .textContent .forText {
  position: absolute;
  top: -180px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.chapter .container.chapterContainer .pagesContent .pagesText .textContent h2 {
  margin-bottom: 30px;
  color: #263b5e;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.chapter .container.chapterContainer .pagesContent .pagesText .textContent p {
  padding-bottom: 16px;
}

.services {
  width: 100%;
  padding-bottom: 112px;
}

@media (max-width: 767px) {
  .services {
    padding-bottom: 96px;
  }
}

@media (max-width: 576px) {
  .services .container.servicesContainer {
    max-width: 540px;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .services .container.servicesContainer {
    max-width: 100%;
    padding: 0 15px;
  }
}

.services .container.servicesContainer .servicesHeader {
  margin-top: 48px;
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .container.servicesContainer .servicesHeader .sHeader {
  margin-bottom: 5px;
  font-weight: 700;
  color: #17b978;
}

.services .container.servicesContainer .servicesHeader h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .services .container.servicesContainer .servicesHeader h2 {
    font-size: 38px;
  }
}

.services .container.servicesContainer .serviceItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .services .container.servicesContainer .serviceItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.services .container.servicesContainer .serviceItems .sItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px;
  margin: 0 15px;
  margin-bottom: 40px;
  background-color: #f5f4fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

@media (min-width: 1200px) {
  .services .container.servicesContainer .serviceItems .sItem:first-child {
    margin-left: 0;
  }
  .services .container.servicesContainer .serviceItems .sItem:last-child {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .services .container.servicesContainer .serviceItems .sItem {
    margin: 0 0 40px;
  }
}

.services .container.servicesContainer .serviceItems .sItem .itemImage {
  margin-bottom: 23px;
}

.services .container.servicesContainer .serviceItems .sItem .itemImage svg {
  width: 60px;
  height: 60px;
  fill: #17b978;
}

.services .container.servicesContainer .serviceItems .sItem h3 {
  position: relative;
  line-height: 1.3;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.services .container.servicesContainer .serviceItems .sItem h3::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -14px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 1px;
  background: #17b978;
}

.services .container.servicesContainer .serviceItems .sItem p {
  text-align: center;
  margin-bottom: 1rem;
}

.reviews {
  position: relative;
  margin-bottom: 235px;
  width: 100%;
}

.reviews .humansBg {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.reviews .humansBg .humansImage {
  background-image: url(../images/humans_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  min-width: 100%;
}

.reviews .humansBg .imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17b978;
  opacity: 0.8;
}

.reviews .container.reviewsContainer {
  position: absolute;
  top: 112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1199px) {
  .reviews .container.reviewsContainer {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .reviews .container.reviewsContainer {
    padding: 0 30px;
  }
}

@media (max-width: 599px) {
  .reviews .container.reviewsContainer {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .reviews .container.reviewsContainer {
    max-width: 100%;
    padding: 0px 15px;
  }
}

@media (max-width: 575px) {
  .reviews .container.reviewsContainer {
    max-width: 100%;
    padding: 0px 15px;
  }
}

.reviews .container.reviewsContainer .reviewsHeader {
  margin-bottom: 48px;
}

@media (max-width: 991px) {
  .reviews .container.reviewsContainer .reviewsHeader {
    padding: 0;
  }
}

@media (max-width: 599px) {
  .reviews .container.reviewsContainer .reviewsHeader {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .reviews .container.reviewsContainer .reviewsHeader {
    padding: 0;
  }
}

.reviews .container.reviewsContainer .reviewsHeader .reviewSubHeader {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  margin-bottom: 5px;
}

.reviews .container.reviewsContainer .reviewsHeader h2 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .reviews .container.reviewsContainer .reviewsHeader h2 {
    font-size: 38px;
  }
}

.reviews .container.reviewsContainer .reviewsSlider {
  width: 100%;
}

.reviews .container.reviewsContainer .reviewsSlider .owl-stage-outer .owl-stage .owl-item {
  -webkit-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  padding-top: 20px;
}

.reviews .container.reviewsContainer .reviewsSlider .owl-stage-outer .owl-stage .owl-item .sliderItem {
  background-color: white;
  padding: 24px 20px;
  border-radius: 4px;
}

.reviews .container.reviewsContainer .reviewsSlider .owl-stage-outer .owl-stage .owl-item .sliderItem .sliderItemBox .headerCircle {
  position: absolute;
  top: 0;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #17b978;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.reviews .container.reviewsContainer .reviewsSlider .owl-stage-outer .owl-stage .owl-item .sliderItem .sliderItemBox .person .personImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

footer {
  width: 100%;
  height: 100vh;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
.slick-slide.slick-active:active {
  cursor: -webkit-grab;
  cursor: grab;
}

/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*# sourceMappingURL=style.css.map */