@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --h-color: #263b5e;
  --body-color: #6a7695;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: var(--body-color);

  &.bodyOverflow {
    overflow: hidden;
  }
}

.container {
  width: 1110px;
  padding: 0;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 960px;
  }

  @media (max-width: 991px) {
    max-width: 720px;
  }

  @media (max-width: 767px) {
    max-width: 540px;
  }

  @media (max-width: 576px) {
    max-width: 100%;
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: var(--h-color);
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;

  @media (max-width: 991px) {
    padding: 0;
    position: relative;
    background-color: black;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &.headerContainer {
      min-height: 69px;
    }

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    @media (max-width: 991px) {
      width: 100%;
      height: 69px;
    }

    .logo {
      margin-top: -1px;
      color: #000;
      font-size: 26px;
      font-weight: 900;
      line-height: 60px;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      cursor: pointer;

      @media (max-width: 991px) {
        color: #fff;
      }

      span {
        color: #17b978;
      }
    }

    .navMenu {
      display: none;
      letter-spacing: 0.1em;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;

      @media (max-width: 991px) {
        display: block;
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }

  nav {
    display: flex;
    margin: -2px 0 0;

    @media (max-width: 991px) {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: all 0.8s ease-in;
      // transition: 0.5s;

      &.navActive {
        max-height: 100vh;
        transition: all 0.8s ease-in;
        margin: -6px 0 0;
        // transition: 0.5s;
      }
    }

    a {
      display: inline-block;
      outline: none;
      color: #051441;
      text-decoration: none;
      // margin: 18px;
      padding: 10px 20px;
      scroll-behavior: smooth;
      transition: 0.3s all ease;

      @media (max-width: 991px) {
        color: #fff;
        padding: 9px 0;

        &:first-child {
          padding-top: 6px;
        }

        &:last-child {
          margin-bottom: 29px;
        }
      }

      span {
        height: 68px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        position: relative;
      }

      span::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #17b978;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;

        @media (max-width: 991px) {
          position: absolute;
          width: 100%;
        }
      }

      &:hover span::before {
        transform: scaleX(1);
      }

      &.navItemActive {
        color: #17b978;

        span::before {
          transform: scaleX(1) !important;
        }
      }
    }
  }

  &.active {
    position: fixed;
    top: 0;
    min-height: 75px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-out;
    padding: 0;

    .headerContainer {
      .headerContent {
        @media (max-width: 991px) {
          height: 75px;
        }

        .logo {
          font-size: 24px;
          margin-top: 5px;
          // margin: -2px 0 0 -2px;

          @media (max-width: 991px) {
            margin: -2px 0 0 0;
            color: #000 !important;
          }
        }

        .navMenu {
          color: rgba(0, 0, 0, 0.5) !important;
        }
      }

      nav.headerNav {
        margin: 4px 0px 0;

        @media (max-width: 991px) {
          margin: 0;
        }

        a {
          @media (min-width: 992px) {
            padding: 10px 20px;
          }

          @media (max-width: 991px) {
            // padding: 10px 0;
            color: #000;
          }

          @media (max-width: 991px) {
            padding: 11px 0;

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}

main {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

  article {
    width: 100%;
  }

  section {
    transition: 0.3s all ease;
    position: relative;

    .forSection {
      position: absolute;
      top: -112px;
      width: 1px;
      height: 1px;
      visibility: hidden;

      // &:first-child {
      //   top: 0;
      // }
    }

    #home.forSection {
      top: 0;
    }

    #about.forSection {
      top: -94.5px;

      @media (max-width: 767px) {
        top: -55px;
      }
    }

    #chapter.forSection {
      top: -70px;
    }

    #reviews.forSection {
      top: -70px;
    }
  }
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 991px) {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .bookBox {
    // width: calc(((100% - 1110px) / 2) + 1110px);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    // @media (max-width: 1199px) {
    //   width: calc(100% - 45px);
    // }

    @media (max-width: 991px) {
      width: 100%;
      margin-top: 39px;
      height: calc(100vh - 69px);
      justify-content: center;
      align-items: center;
    }

    .container.bookBoxContainer {
      height: 100%;
      display: flex;
      align-items: center;

      @media (max-width: 1199px) {
        max-width: 100%;
        padding-left: 45px;
        margin: 0;
      }

      @media (max-width: 991px) {
        margin: 0;
        padding: 0 1rem;
        // background-color: rgba(255, 255, 255, 0.5);
      }

      .weekBook {
        max-width: 40%;
        padding-right: 58px;
        margin-top: 86px;

        @media (max-width: 1199px) {
          padding-right: 75px;
        }

        @media (max-width: 991px) {
          width: 100%;
          max-width: 100%;
          height: 100%;
          text-align: center;
          margin-top: 28px;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 0;
        }

        .bestSeller {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          color: #17b978;
          letter-spacing: 2px;
          margin-bottom: 2px;

          @media (max-width: 1500px) {
            margin-bottom: 1px;
            margin-top: 1px;
          }

          @media (max-width: 991px) {
            margin-bottom: 2px;
            margin-top: 0px;
          }

          @media (max-width: 767px) {
            margin-bottom: 1.5px;
            margin-top: 0.5px;
          }

          // @media (max-width: 902px) {
          //   margin-bottom: 2px;
          //   margin-top: 0px;
          // }
        }

        h1 {
          display: block;
          font-size: 60px;
          font-weight: 900;
          line-height: 1.3;
          color: #263b5e;
          margin-bottom: 7px;
          font-family: 'Raleway', sans-serif;

          @media (max-width: 991px) {
            // margin-top: -10px;
            // margin-bottom: 0;
          }

          @media (max-width: 767px) {
            font-size: 40px;
          }
        }

        p {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 400;
          color: #6a7695;
          margin-top: 8px;
          margin-bottom: 1rem;

          @media (max-width: 991px) {
            color: #000;
            margin-top: 1px;
          }
        }

        .homeBuyNow {
          margin-top: 17px;
          margin-left: -4px;

          // @media (max-width: 1199px) {
          //   margin-top: 0;
          //   margin-left: 0;
          // }

          @media (max-width: 991px) {
            margin-top: 1px;
            margin-bottom: -1px;
            margin-left: 0;
          }

          @media (max-width: 816px) {
            margin-bottom: -1px;
          }

          @media (max-width: 767px) {
            margin-bottom: 0px;
          }

          @media (max-width: 618px) {
            margin-bottom: -1px;
          }

          @media (max-width: 554px) {
            margin-bottom: 0px;
          }

          @media (max-width: 426px) {
            margin-bottom: -1px;
          }

          @media (max-width: 367px) {
            margin-bottom: 0px;
          }

          @media (max-width: 364px) {
            margin-bottom: -1px;
          }

          div {
            margin: -5px 0 0;
            padding: 4px;
            display: inline-block;

            &:focus {
              background-color: #0063cc96;
              border-radius: 50px;
            }
            a {
              text-decoration: none;
              user-select: none;
              outline: none;
              border: none;
              width: 210.5px;
              height: 52px;
              color: #fff;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-weight: 600;
              font-family: 'Open Sans', sans-serif;
              background-color: #18b979;
              border-radius: 50px;
              box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
              display: flex;
              justify-content: center;
              align-items: center;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

              @media (max-width: 902px) {
                height: 51px;
              }

              @media (max-width: 816px) {
                height: 52px;
              }

              @media (max-width: 767px) {
                height: 51px;
              }

              @media (max-width: 618px) {
                height: 52px;
              }

              @media (max-width: 554px) {
                height: 51px;
              }

              @media (max-width: 426px) {
                height: 52px;
              }

              @media (max-width: 367px) {
                height: 51px;
              }

              @media (max-width: 364px) {
                height: 52px;
              }

              &:active {
                // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: black;
              }

              span {
                margin-top: 1px;

                // @media (max-width: 1199px) {
                //   margin-top: 2px;
                // }

                @media (max-width: 426px) {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }

    .bookLogo {
      position: absolute;
      right: 0;
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -2;

      img {
        width: 100%;
        max-height: 100%;

        @media (max-width: 991px) {
          width: auto;
          max-width: 100%;
          max-height: 111.2%;
        }
      }

      @media (max-width: 991px) {
        width: 100%;
        margin-top: -9.5px;
      }
    }
  }
}

.logosContainer {
  .logosBox {
    padding-top: 48px;

    .wrapperLogo {
      display: flex;
      justify-content: space-between;

      .logoItemBox {
        height: 100%;
        padding: 15px;
        flex-grow: 1;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        a {
          padding: 0 20px;
          display: inline-block;

          img {
            max-width: 100%;
          }
        }
      }

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        // width: 50%;

        .logoItemBox {
          height: 50%;
          padding: 15px;
          flex-grow: 1;
          margin-bottom: 10px;

          &:first-child {
            padding-left: 15px;
          }

          &:last-child {
            padding-right: 15px;
          }

          a {
            display: flex;
            justify-content: center;
            padding: 0 70px;

            img {
              width: 50%;
              height: 100%;
            }
          }
        }
      }

      @media (max-width: 575px) {
        .logoItemBox {
          padding: 15px 0;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0;

  @media (max-width: 767px) {
    padding: 112px 0;
  }

  .aboutContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199px) {
      padding: 0 15px;
    }

    @media (max-width: 576px) {
      max-width: 540px;
    }

    @media (max-width: 575px) {
      max-width: 100%;
    }

    .bookBG {
      width: 50%;
      background-image: url(../images/bookBG_1.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      box-sizing: border-box;
      display: flex;
      align-self: stretch;
      align-items: center;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .bookDescription {
      width: 50%;
      padding-left: 3rem;
      color: #263b5e;
      line-height: 1.5;
      font-family: 'Raleway', sans-serif;

      @media (max-width: 767px) {
        width: 100%;
        padding-left: 0;
      }

      h2 {
        margin: 0 0 24px;
        font-size: 50px;
        font-weight: 700;

        @media (max-width: 767px) {
          font-size: 38px;
        }
      }

      h4 {
        margin-bottom: 8px;
        color: #263b5e;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        font-family: 'Raleway', sans-serif;
      }

      p {
        margin: 0 0 16px;
        color: #6a7695;
        font-weight: 400;
        line-height: 1.8;
        font-family: 'Open Sans', sans-serif;

        &:last-child {
          margin: 0 0 32px;
        }
      }
    }
  }
}

.numbersSection {
  width: 100%;

  .numbersContainer {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
    }

    @media (max-width: 576px) {
      max-width: 576px;
      padding: 0;
    }

    @media (max-width: 575px) {
      width: 100%;
      padding: 0 15px;
      margin: 0;
    }

    .nCounting {
      flex: 1;
      margin: 0 15px;
      padding: 30px 20px;
      background-color: #f5f4fb;

      @media (min-width: 1200px) {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: 767px) {
        margin: 0 15px 20px;
      }

      @media (max-width: 575px) {
        margin: 0 0 20px;
        width: 100%;
      }

      .nWrapper {
        text-align: center;
        .bigNumbers {
          display: block;
          color: #263b5e;
          font-weight: 700;
          font-size: 34px;
        }
      }

      // .numberDescription {
      // }
    }
  }
}

.chapter {
  width: 100%;

  .container.chapterContainer {
    @media (max-width: 1199px) {
      padding: 0 15px;
    }

    @media (max-width: 576px) {
      max-width: 540px;
    }

    @media (max-width: 575px) {
      max-width: 100%;
    }

    .pagesTitle {
      margin: 48px 0 0;
      padding: 48px 0 70px;
      color: #263b5e;
      font-size: 50px;
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 38px;
      }
    }

    .pagesContent {
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
      }

      .navBox {
        flex: 25%;
        position: relative;
        margin-bottom: 24px;

        nav {
          display: flex;
          flex-direction: column;
          position: sticky;
          top: 180px;
          left: 0;
          margin-bottom: 0px;

          a {
            margin-bottom: 15px;
            color: #263b5e;
            text-decoration: none;
            font-weight: 700;
            line-height: 1.8;
            transition: 0.3s all ease;

            &:last-child {
              margin-bottom: 0;
            }

            &.current {
              color: #17b978;
              margin-left: 20px;
              position: relative;
              transition: 0.3s all ease;

              &::before {
                content: '';
                position: absolute;
                left: -25px;
                top: calc(50% - 1px);

                width: 20px;
                height: 2px;
                background-color: #17b978;
              }
            }
          }
        }
      }

      .pagesText {
        flex: 75%;
        padding: 0 0 0 9px;

        @media (max-width: 767px) {
          padding: 0;
        }

        .textContent {
          width: 100%;
          padding: 30px;
          margin-bottom: 112px;
          background-color: #f5f4fb;
          border-radius: 5px;
          box-sizing: border-box;
          position: relative;

          .forText {
            position: absolute;
            top: -180px;
            width: 1px;
            height: 1px;
            visibility: hidden;
          }

          h2 {
            margin-bottom: 30px;
            color: #263b5e;
            font-size: 30px;
            line-height: 1.5;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
          }

          p {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}

.services {
  width: 100%;
  padding-bottom: 112px;

  @media (max-width: 767px) {
    padding-bottom: 96px;
  }

  .container.servicesContainer {
    @media (max-width: 576px) {
      max-width: 540px;
      padding: 0;
    }

    @media (max-width: 575px) {
      max-width: 100%;
      padding: 0 15px;
    }

    .servicesHeader {
      margin-top: 48px;
      padding: 48px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sHeader {
        margin-bottom: 5px;
        font-weight: 700;
        color: #17b978;
      }

      h2 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 1.5rem;

        @media (max-width: 767px) {
          font-size: 38px;
        }
      }
    }

    .serviceItems {
      display: flex;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
      }

      .sItem {
        flex: 1;
        padding: 32px;
        margin: 0 15px;
        margin-bottom: 40px;
        background-color: #f5f4fb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;

        @media (min-width: 1200px) {
          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        @media (max-width: 575px) {
          margin: 0 0 40px;
        }

        // @media () {

        // }

        .itemImage {
          margin-bottom: 23px;

          svg {
            width: 60px;
            height: 60px;
            fill: #17b978;
          }
        }

        h3 {
          position: relative;
          line-height: 1.3;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 3rem;

          &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -14px;
            transform: translateX(-50%);
            width: 30px;
            height: 1px;
            background: #17b978;
          }
        }

        p {
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.reviews {
  position: relative;
  margin-bottom: 235px;
  width: 100%;

  .humansBg {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    .humansImage {
      background-image: url(../images/humans_BG.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      min-width: 100%;
    }

    img {
    }

    .imageOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #17b978;
      opacity: 0.8;
    }
  }

  .container.reviewsContainer {
    position: absolute;
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;

    @media (max-width: 1199px) {
      padding: 0 15px;
    }

    @media (max-width: 991px) {
      padding: 0 30px;
    }

    @media (max-width: 599px) {
      padding: 0;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      padding: 0px 15px;
    }

    @media (max-width: 575px) {
      max-width: 100%;
      padding: 0px 15px;
    }

    .reviewsHeader {
      margin-bottom: 48px;

      // @media (max-width: 991px) {
      //   padding: 0 30px;
      // }

      @media (max-width: 991px) {
        padding: 0;
      }

      @media (max-width: 599px) {
        padding: 0 15px;
      }

      @media (max-width: 575px) {
        padding: 0;
      }

      .reviewSubHeader {
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 700;
        margin-bottom: 5px;
      }

      h2 {
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 1rem;

        @media (max-width: 767px) {
          font-size: 38px;
        }
      }
    }

    .reviewsSlider {
      width: 100%;

      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
            padding-top: 20px;

            &.cloned {
            }

            &.active {
            }

            .sliderItem {
              background-color: white;
              // border-bottom: 1px solid black;
              padding: 24px 20px;
              border-radius: 4px;

              .sliderItemBox {
                .headerCircle {
                  position: absolute;
                  top: 0;
                  left: 20px;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: #17b978;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                }

                p {
                }

                .person {
                  .personImg {
                    img {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                    }
                  }

                  .personInformation {
                    .nameSurname {
                    }

                    .profession {
                    }
                  }
                }
              }
            }
          }
        }
      }

      .owl-nav {
      }

      .owl-dots {
      }
    }
  }
}

footer {
  width: 100%;
  height: 100vh;
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
  &:active {
    cursor: grab;
  }
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  // display: none !important;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  // display: none !important;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
